{% extends 'base.html' %}

{% block content %}
<h3>Port edit</h3>
<div class="col-md-6 offset-md-3">
  {% if port %}
  <form action="/device/{{ device }}/port/{{ port.id }}/edit" method="post">
    <div class="form-group">
      <label for="name">Port name</label>
      <input id="name" type="text" class="form-control" name="name"
             value="{{ port.name }}" required>
    </div>
    <div class="form-group">
      <label for="status">Status</label>
      <input id="status" type="checkbox"
             name="status" {% if port.status %}checked{% endif %}>
    </div>
    <div class="form-group">
      <label for="gpio">GPIO</label>
      <select name="gpio" id="gpio">
        {% for gpio in gpios %}
          <option value="{{ gpio }}"
                  {% if gpio == port.gpio %}selected{% endif %}>{{ gpio }}
          </option>
        {% endfor %}
      </select>
    </div>
    <button type="submit" class="btn btn-primary pull-right">Update</button>
  </form>
  {% endif %}
</div>
{% endblock %}
