{% extends 'base.html' %}

{% block content %}
  {% if active_tasks %}
    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th>Date</th>
          <th>Key</th>
          <th>Port name</th>
          <th>GPIO</th>
          <th>Action</th>
          <th>Cancel</th>
        </tr>
        </thead>
        <tbody>
        {% for task in active_tasks %}
          <tr id="{{ task.task.timestamp }}:{{ task.task.device }}:{{ task.task.gpio }}:{{ task.task.action }}">
            <td>
              {{ task.task.timestamp | timestamp_format }}
            </td>
            <td>
              #{{ task.task.device }}
            </td>
            <td>
              {{ task.port.name }}
            </td>
            <td>
              {{ task.port.gpio }}
            </td>
            <td>
              {% if task.task.action == 'on' %}
                <span class="status-connected">on</span>
              {% elif task.task.action == 'off' %}
                <span class="status-disconnected">off</span>
              {% endif %}
            </td>
            <td>
              <a href="" data-task-value="{{ task.task.timestamp }}:{{ task.task.device }}:{{ task.task.gpio }}:{{ task.task.action }}"
                onclick="deleteTask(this); return false;">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
              </a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    <p>There are no tasks</p>
  {% endif %}
{% endblock %}

{% block scripts %}
  <script>
    function deleteTask(element) {
      var value = element.dataset.taskValue;
      $.ajax({
        type: 'POST',
        url: "{{ url('api-task-delete') }}",
        data: {
          'task': value
        },
        dataType: 'json',
        success: function (resp) {
          if ( resp['status'] == 'ok' ) {
            var toRemove = document.getElementById(value);
            $( toRemove ).fadeTo(1000, 0.1, function(){
              $( toRemove ).remove()
            })
          }
        }
      });
    }
  </script>
{% endblock %}
